<div class="container mt-2">
  <div class="row mt-2">
    <div class="col col-md-4 offset-md-4">
      <a class="mb-2 btn btn-primary" routerLink="add-book">Create</a>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-2">
    <div class="col" *ngFor="let item of books">
      <div class="card">
        <!-- <img src="{{ item.imageUrl }}" class="card-img-top" alt="..." /> -->
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text"><b>Author:</b> {{ item.author }}</p>
          <p class="card-text"><b>Genre:</b> {{ item.genre }}</p>
        </div>
        <div class="card-body">
          <a class="btn btn-dark" [routerLink]="['edit-book', item._id]">
            Edit</a
          >
          |
          <button class="btn btn-danger" (click)="openDeleteModal(item._id)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal-->

<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Are you sure to delete the item?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-danger" (click)="delete()">
          Confirm Delete
        </button>
      </div>
    </div>
  </div>
</div>
