<div class="container mt-2">
  <legend>Update Item</legend>
  <form>
    <div class="mb-3">
      <label for="txtTitle" class="form-label">Title</label>
      <input
        type="text"
        name="Title"
        [(ngModel)]="books.title"
        class="form-control"
        id="txtTitle"
      />
    </div>
    <div class="mb-3">
      <label for="txtAuthor" class="form-label">Author</label>
      <input
        type="text"
        name="txtAuthor"
        [(ngModel)]="books.author"
        class="form-control"
        id="txtAuthor"
      />
    </div>
    <div class="mb-3">
      <label for="txtGenre" class="form-label">Genre</label>
      <input
        type="text"
        name="txtGenre"
        [(ngModel)]="books.genre"
        class="form-control"
        id="txtGenre"
      />
    </div>
    <button type="button" (click)="update()" class="btn btn-primary">
      Update
    </button>
  </form>
</div>
